.ppc-logo{
    height: 60px;
    margin-right: 10px;
}

.logout-btn{
    width: 100px;
    background-color: red;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 400px){
    .ppc{
        font-size: 20px;
    }
}